<h1>Rental Cars</h1>
<span>Bem vindo ao sistema de gestão de locação</span><br><br>

<%# <a href='<%= manufacturers_path '></a> %>
<%= link_to 'Fabricantes', manufacturers_path%><br><br>
<%= link_to 'Filiais', subsidiaries_path %><br><br>
<%= link_to 'Categorias de veículos', car_categories_path %><br><br>